{% extends "base/body.html" %}
{% block title %}
  Bienvenido - SIGMA
{% endblock %}
{% block content %}
    <h3>Bienvenido a SIGMA</h3>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{disponible}}</h3>
                  <p>Elementos sin asignar</p>
                </div>
                <div class="icon">
                  <i class="fas fa-check-square"></i>
                </div>
                <a href="#" class="small-box-footer">
                  More info <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{mantenimiento}}</h3>
                  <p>Elementos En Mantenimiento</p>
                </div>
                <div class="icon">
                  <i class="fas fa-medkit"></i>
                </div>
                <a href="#" class="small-box-footer">
                  More info <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="small-box bg-danger">
              <div class="inner">
              <h3>{{baja}}</h3>
              <p>Elementos En proceso de baja</p>
              </div>
              <div class="icon">
              <i class="fas fa-exclamation"></i>
              </div>
              <a href="#" class="small-box-footer">
              More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
        </div>
      </div>
    </div>
{% endblock content %}
