{% load static %}
{% load bootstrap_icons%}

<!-- Main Sidebar Container -->
<aside class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <span class="brand-text font-weight-light">SIGMA</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <a href="#" class="d-block">Bienvenido, {{user.username}} <a href="/auth/logout" class="btn btn-danger">Cerrar Sesión</a></a>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas  fa-building"></i>
            <p>
              Empresa
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'empresa:sedeIndex' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Sedes</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'empresa:dependenciaIndex' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Dependencias</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
               <a href="#" class="nav-link">
                 <i class="nav-icon fas fa-user"></i>
                 <p>
                   Personas
                   <i class="right fas fa-angle-left"></i>
                 </p>
               </a>
               <ul class="nav nav-treeview">
                 <li class="nav-item">
                   <a href="{% url 'personas:funcIndex' %}" class="nav-link">
                     <i class="far fa-circle nav-icon"></i>
                     <p>Funcionarios</p>
                   </a>
                 </li>

                 <li class="nav-item">
                   <a href="{% url 'personas:proovIndex' %}" class="nav-link">
                     <i class="far fa-circle nav-icon"></i>
                     <p>Proveedores</p>
                   </a>
                 </li>
               </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-list-alt"></i>
            <p>
              Inventario
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'inventario:marcaIndex' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Referencias</p>
              </a>
            </li>
             <li class="nav-item">
              <a href="{% url 'inventario:elementoIndex' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Elementos</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>
              Gestion
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'gestion:asignacionIndex' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Asignaciones</p>
              </a>
            </li>
             <li class="nav-item">
              <a href="{% url 'mantenimiento:elementoList' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Mantenimientos</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'bajas:index' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Bajas</p>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>

  </div>

</aside>
