{% extends "base/body.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Funcionarios - SIGMA
{% endblock title %}

{% block header %}
    <link href="{% static 'select2.min.css' %}" rel="stylesheet" />
    <h1>Crear Nuevo Registro</h1>
{% endblock header %}

{% block content %}
<div class="container-fluid">
    <form method="POST">
        {% csrf_token %}
        <div class="container">
            <h4><i class="far fa-user"></i> Datos del Funcionario</h4>
            <div class="row">
                <div class="col">
                    {{form.identificacion|as_crispy_field}}
                </div>
            </div>
            <div class="row">
                    <div class="col">
                    {{form.nombres|as_crispy_field}}
                    </div>
                    <div class="col">
                    {{form.apellidos|as_crispy_field}}
                    </div>
                   
                </div>
                 <div class="row">
                   <div class="col">
                        {{form.direccion|as_crispy_field}}
                    </div>
                    <div class="col">
                        {{form.telefono|as_crispy_field}}
                    </div>
                    <div class="col">
                        {{form.correo|as_crispy_field}}                                                
                    </div>
                    </div>
            <div class="row"> 
                <div class="col">
                    <h4><i class="far  fa-building"></i>Datos en la Entidad</h4>
                    {{form.sede|as_crispy_field}}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Crear Funcionario</button>
    </form>
</div>

{% endblock %}

{% block js %}
    <script src="{% static 'dist/js/select2.js' %}"></script>
    <script src="{% static 'select2.min.js' %}"></script>
{% endblock js %}